body{
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
	color: #3d3c3c;
}
.body{
	margin-top: 90px;
}
.toggle-menu-visibility{
	display: block;
	margin-top: 3px;
}
.header{
	position: fixed;
	top: 0px;
	z-index: 2;
	width: 100%;
	background-color: indigo;
}
.title-bar{
	background-color: indigo;
	display: grid;
	margin-top: 0px;
	min-width: 100%;
}
.control{
	background-color: white;
	box-shadow: 0px 0px 5px #979797;
	padding: 7px;
	width: 20px;
	height:20px;
	border-radius: 35px;
	top: 17px;
	left: 8px;
	float: left;
	position: relative;
	cursor: pointer;
}
/*.title-bar{
	background-color: indigo;
	position: fixed;
	min-height: 50px;
	top: 0px;
	left: 0px;
	width: 100%;
	display: block;
}
*/
.app-name{
	color: white;
	text-align: center;
	text-shadow: gray 2px 2px;
}
h1.app-name{
	margin-top: -10px;
}
/*.control{
	background-color: white;
	box-shadow: 0px 0px 5px #979797;
	padding: 7px;
	width: 20px;
	height:20px;
	border-radius: 35px;
	top: 17px;
	left: 8px;
	position: fixed;
	cursor: pointer;
	z-index: 10;
}*/
.tl,
.tr,
.md{
	display: block;
	width: 20px;
	height: 4px;
	border:solid indigo;
	border-width: 2px 0px 0px 0px;
}
.tl-rot{
	margin-top: 7px;
	transform: rotate(45deg);
}
.tr-rot{
	margin-top: -15px;
	transform: rotate(135deg);
}
.md-hide{
	border-color: white;
}
.aside{
	background-color: indigo;
	position: fixed;
	width: 34%;
	left: 0px;
	top: 0px;
	height: 100%;
	max-height: 100%;
	color: white;
	z-index: 5;
	box-shadow: 0px 3px 8px indigo;
    overflow:scroll;
}
.tr,
.tl,
.md,
.tl-rot,
.tr-rot,
.md-hide{
	transition-duration: .04s;
}
.aside-enter,
.aside-leave,
.page-off-canvas-left-enter,
.page-off-canvas-left-leave,
.page-contain-enter,
.page-contain-leave,
.aside li:hover,
.btn-inactive, .inactive,
.btn-secondary{
	transition-duration: .15s;
	transition-timing-function: cubic-bezier(.8, 0, 1, .1);
}
.aside-leave{
	transform: translate(-100%);
}
.aside-enter{
	min-width: 50% !important;
}
.aside ul{
    margin-left: -40px;
}
.aside li{
	margin: 15px;
	border: 1px solid #EEEEEE;
	border-width: 0px 0px 1px 0px;
	border-radius: 5px;
	color: #EEEEEE;
	padding-left: 30px;
	list-style-type: none;
}
.aside li:hover{
	background-color: #7336a0;
	color: white;
}
.page{
	background-color:#cecece;
	margin-top: -7px;
	width: 100%;
	height: 300px;
	position: relative;
	border-radius: 0px 0px 160% 15px;
}
.blank-gap{
	min-height: 90px;
}
.page-off-canvas-left-enter{
	transform: translateX(50%);
}
/* .page-off-canvas-leave{
} */
.page-contain-enter{
	width: 70%;
}
.page-contain-leave{
	width: 100%;
}
.t-center{
	text-align: center;
}
.content{
	padding: 20px 20px 0px 20px;
}
.btn{
	border:1px solid indigo;
	border-radius: 8px;
	cursor: pointer;
}
.btn, .btn-round{
	padding: 10px;
	background-color: white;
	color: indigo;
}
.add{
	float: right;
}
.btn-round{
	padding: 10px 17px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	font-weight: bolder;
	font-size: 25px;
}
.btn-secondary{
	background-color: indigo;
	color: white;
}
.btn-inactive, .inactive{
	/*  */
	background-color: #E7E7E7;
	color:gray;
	border:gray;
	cursor: wait;
}
div.btn{
	text-align: center;
}
.article{
	background-color: indigo;
	color: white;
	height:100%;
	padding: 20px;
	border-radius: 15px;
	margin-top: 20px;
	box-shadow: 0px 0px 8px gray;
}
.footer-control{
	z-index: 0;
	position: fixed;
	width: 100%;
	bottom: 0px;
	display: flex;
	overflow-x: initial;
	padding-top: 5px;
	background-color: #EEEEEE
}
.x1:first-child{
	margin-left:0px; 
}
.x1{
	align-items: center;
	height: 30px;
	background-color: indigo;
	color: white;
	padding: 20px 30px 10px 30px;
	margin-left: 5px;
	width: 100%;
}

.display-below{
	height: 0%;
	width: 0%;
	position: fixed;
}
.modal-overlay{
	transform: translateY(0%);
	width: 100%;
	height:100%;
	top: 10px;
	overflow-y: scroll;
	position: fixed;
	background-color: indigo;
}
.modal-overlay,
.default-modal,
.show-modal,
.display-below{
	transition-duration: .15s;
}
.modal{
	width: 0%;
	top: 100%;
	height: 0%;
	display: table-column;
	position: relative;
}
.show-modal{
	box-shadow: 0px 0px 5px #E7E7E7;
	width: 90%;
	min-height: 120px;
	background-color: white;
	display: block;
	position: relative;
	border-radius: 3%;
	left: 5%;
	top: 15%;
	max-height: 85%;
	margin-bottom: 30px;
    padding-bottom: 10px;
}
.close-dialog{
	position: inherit;
	top: 2%;
	display: inline;
	transform: rotateX(45deg);
	left: 88%;
}
.form-control, input{
	padding: 10px 15px;
	display: block;
	width: 87%;
}
select, input{
	border: 1px solid #EFEFEF;
}
select:focus, input:focus{
	box-shadow: 0 0 8px indigo;
	border: 1px solid rgba(81, 203, 238, 1);
}
select{
	background-color: transparent;
}
div.form{
	margin-bottom: 4px;
}
.contain{
	padding: 10px 10px 0px 10px;
}
.theme-red{
	background-color: red;
	color: white;
}
.logo{
	width: 50%;
	height: 50%;
	padding: 10px;
	border-radius: 100%;
	background-color: white;
}
.user{
	padding:50px 10px 10px 10px;
	text-align: center;
}
.record-row{
	background-color: #d5d5d5;
	padding:22px 12px 1px 12px;
	border-radius: 8px;
	box-shadow: 1px 1px 8px #d5d5d5;
}
div.btn-block{
	display: inline-block;
	width: 90%;
}
table{
	width: 100%;
	color:green;
}
th{color: indigo}
td,
th{
	text-align: left;
}
tr.divide-row:nth-child(even){
	background-color: white;
}
.credit{
	color: green;
}
.debit{
	color: red;
}
.bg-green{
	background-color: #0db80d;
	color: white;
	border-color: #0db80d;
}
.t-white{
	color: white;
}
.t-green{
	color: #0db80d;
}
.t-red{
	color:red;
}
.header-notification{
	background-color: white;
	padding:10px;
}
.header-notification>span{
	margin-left: 5px;
}
.header-notification>span:first-child{
	margin-left: -5px;
}
.sm-round{
	position: absolute;
	right: 10px;
	top:40px;
	padding: 3px 8px 1px 8px;
	width: min-content;
	border-radius: 50%;
	box-shadow: 2px 2px 5px #3d3c3c;
}
.bg-white{
	background-color: white;
}