<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "https://apps.bsdevtech.com"
    id          = "com.bsdevtech.apps"
    versionCode = "1"
    version     = "1.0.1" >

<!-- versionCode is optional and Android only -->

  <name>Financial Manager</name>

  <description>
      The app for making informed financial decisions. Making you to be more financially inclusive
  </description>

  <author href="http://apps.bsdevtech.com" email="apps@bsdevtech.com">
      Engr. Isaiah Pius
  </author>

  <icon src="fin_manager.png" />
  <preference name="Fullscreen" value="true" />
  <preference name="Orientation" value="portrait" />

</widget>